GHL_LOCATION_ID=YfwlbtO6dLJ7ho2JKvzI
GHL_PRIVATE_INTEGRATION_TOKEN=
ADMIN_EMAILS=godwin.inc@gmail.com
MISTRAL_API_KEY=
MISTRAL_MODEL=mistral-small-latest
HOST=127.0.0.1
PORT=4177
NODE_ENV=development
